{% extends 'authapp/base.html' %}
{% load static %}

{% block main %}
    <form class="userform-formblock" action="{% url 'auth:edit' %}" method="POST" enctype="multipart/form-data"> {% comment %} enctype для передачи файлов {% endcomment %}
        {% csrf_token %} {% comment %} защита от кросс-сайтовых запросов при использовании POST {% endcomment %}

        {{ edit_form.as_p }} {% comment %} выводит поля: как параграфы (as_p), как список (as_ul), как таблицу (as_table) {% endcomment %}

        <input class="button" type="submit" value="{{ page_name }} &#10095;">
    </form>
{% endblock %}
