$size-block: 1366px;
$size-content: 1170px;

$color-back: #f7f7f7;
$color-explicit: #212121;
$color-implicit: #6c6c6c;
$color-alternative: #ebc04b;
$color-neutral: #d9dee1;
$color-exclusive: #1e88e5;
$color-hotdeal: #e53935;
$color-trending: #43a047;

$time-hover: 500ms
