.prodblock-3 {
    display: flex;
    width: 368px;
    height: 368px;
    margin: 15px;
    border: 1px solid $color-neutral;
    user-select: none;

    &-img {
        width: 368px;
        height: 368px;
        z-index: 0;
    }

    &-info {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 368px;
        height: 368px;
        background: rgba(255, 255 ,255, 0.8);
        z-index: 1;
    }

    &:hover {
        outline: 2px solid $color-neutral;
    }

    &:hover .prodblock-3-info {
        display: flex;
    }
}